<div class="container add">
    <div class="controls">
        <button class="close"><span><i class="fas fa-times"></i></span></button>
    </div>
<form>
    <div class="form-group">
        <input type="text" name="heading" id="heading" class="form-control" required>
    </div>
    <div class="form-group">
        <textarea name="content" id="content" class="form-control" required></textarea>
    </div>
</form>
</div>
<div class="container-fluid main">
    <div class="notes">
        <div class="controls">
            <h3>Your Notes</h3>
            <div class="edu">
                <button class="create"><span><i class="far fa-plus" style="transform: rotate(180deg);"></i></span> Create</button>
            </div>
        </div>
        <hr>
        <div class="container-fluid perday">
            <h4 class="date mb-0">TODAY</h4>
            <div class="row">
                <div class="center col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="note">
                        <h4>Good Morning</h4>
                        <p>hey good morning to all, Lorem Ipsum Dolor Sit Amet Lorem Ipsum Dolor Sit Amet Lorem Ipsum Dolor Sit Amet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
